[Unit]
Description=https-integrator
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/https-integrator/run.sh

[Install]
WantedBy=multi-user.target
